.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-top {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.flex-bot {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

body {
  margin: center;
  font-family: Helvetica;
}

.bg_img {
  background-image: url("https://wallpapercave.com/wp/wp4035445.jpg");
  opacity: 0.8;
  width: auto;
}

.layout {
  width: 150vh;
  height: 100vh;

  display: grid;
  grid:
    "header header header" 0.1fr
    "leftSide body rightSide" 1fr
    "footer footer footer" 0.3fr
    / 0.7fr 1fr 0.7fr;
  gap: 4px;
  margin: auto;
}

.header {
  grid-area: header;
  color: gold;
  background-color: black;
  opacity: 90%;
  font-family: "Alex Brush", cursive;
  font-size: 70px;
}
.leftSide {
  grid-area: leftSide;
  background-color: rgb(4, 0, 255);
  opacity: 80%;
}
.body {
  grid-area: body;

  background-color: black;
  border-radius: 50%;

  opacity: 90%;
}

.parent {
  display: grid;
  grid-template-columns: 2fr;
  grid-template-rows: repeat(2, 2fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: body;
  height: 290px;
  width: 300px;
  margin: auto;
  background-color: rgb(185, 26, 26);
  border-radius: 50%;

  opacity: 90%;
}
.div2 {
  grid-area: body;
  height: 300px;
  width: 500px;
  margin: auto;
  background-color: rgb(48, 51, 184);
  border-radius: 50%;

  opacity: 90%;
}

.rightSide {
  grid-area: rightSide;
  background-color: green;
  opacity: 80%;
}
.footer {
  grid-area: footer;
  height: 100px;
  background-color: rgb(0, 162, 255);
  opacity: 80%;
}
